<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Your First Nations Account Information</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User Information</h3>

                    <p>
                        <strong>id</strong>: <%= user.ID %><br>
                        <strong>user</strong>: <%= user.UserName %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>

            </div>
        </div>

        <!-- Database Information -->
        <div class = "col-sm-6">
          <div class = "well">
            <h3><span class = "fa fa-user"></span> Report</h3>
            <% if(isReport === true) { %>
              <h3> View Your Reports </h3>
                <% for (var i = 0; i < data.length; i++) { %>
                    <a href="<%= data[i].link %>" class="btn btn-default"><span class="fa fa-user"></span> Report ID: <%= data[i].ID %> </a> <br>
                <% } %>
                <br><br>
              <% } %>

                  <a href="/make-report" class="btn btn-default"><span class="fa fa-user"></span> Make a New Report </a>
          </div>
        </div>

    </div>

</div>
</body>
</html>
