<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Your Report</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="row">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- Database Information -->
    <h1> YOUR COMPLETE REPORT DATA </h1>
    <div class = "col-sm-12">
      <div class = "well">
        <h3><span class = "fa fa-user"></span> Profile </h3>

        <strong>Username: </strong> <%= user.UserName %> <br>
        <strong>First Nation Name: </strong> <%= user.FirstNationName %> <br>
        <strong>Chief Name: </strong> <%= user.ChiefName %> <br>
        <strong>Contact Name: </strong> <%= user.ContactName %> <br>
        <strong>Phone Number: </strong> <%= user.PhoneNO %> <br>
        <strong>Email: </strong> <%= user.Email %> <br>
        <strong>Date of Creation: </strong> <%= user.createDate %> <br>

      </div>
    </div>
    <div class = "well">
      <h3><span class = "fa fa-user"></span> This year's report </h3>

      <strong>Funding Provided: </strong> <%= rep.FundingProvided %> <br>
      <strong>Funding Spent: </strong> <%= rep.FundingSpent %> <br>
      <strong>Funding Recovered: </strong> <%= rep.FundingProvided - rep.FundingSpent %> <br>


      <strong>Number of Clients Served: </strong> <%= rep.NumberOfClientServed %> <br>
      <strong>Home Care Priorities: </strong> <%= rep.HomeCarePriorities %> <br>
      <strong>Comments: </strong> <%= rep.Comments %> <br>
      <strong>Approved: </strong> <%= rep.Approved %> <br>
      <strong>Submit Date: </strong> <%= rep.SubmitDate %> <br>

    </div>
  </div>

</div>

</div>
</body>
</html>
