<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Your Report</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="row">
    <!-- Database Information -->
    <h1> YOUR COMPLETE REPORT DATA </h1>
    <div class = "col-sm-12">
      <div class = "well">
        <h3><span class = "fa fa-user"></span> Profile </h3>

        <strong>Username: </strong> <%= user.UserName %> <br>
        <strong>First Nation Name: </strong> <%= user.FirstNationName %> <br>
        <strong>Chief Name: </strong> <%= user.ChiefName %> <br>
        <strong>Contact Name: </strong> <%= user.ContactName %> <br>
        <strong>Phone Number: </strong> <%= user.PhoneNO %> <br>
        <strong>Email: </strong> <%= user.Email %> <br>
        <strong>Date of Creation: </strong> <%= user.createDate %> <br>

      </div>
    </div>
    <div class = "well">
      <h3><span class = "fa fa-user"></span> This year's report </h3>

      <strong>Funding Provided: </strong> <%= rep.FundingProvided %> <br>
      <strong>Funding Spent: </strong> <%= rep.FundingSpent %> <br>
      <strong>Funding Recovered: </strong> <%= rep.FundingProvided - rep.FundingSpent %> <br>

      <strong> List of Administrators of Home and Community Care Services: </strong> <br>
      <ul>
        <% if (admin[0] === true) { %>
          <li> Direct delivery by the community </li>
        <% } if (admin[1] === true) { %>
          <li> Third-party service delivery organization </li>
        <% } if (admin[2] === true) { %>
          <li> Tribal council </li>
        <% } if (admin[3] === true) { %>
          <li> Local Health Integration Network </li>
        <% } if (admin[4] === true) { %>
          <li> Other forms of administration </li>
        <% } %>
      </ul> <br>

      <strong>Number of Clients Served: </strong> <%= rep.NumberOfClientServed %> <br>
      <strong>Home Care Priorities: </strong> <%= rep.HomeCarePriorities.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> <br>

      <strong> List of uses for government funding: </strong>
      <ul>
        <% if (use[0] === true) { %>
          <li> Direct service for home or community care and/or palliative care (direct employed by the First Nations) </li>
        <% } if (use[1] === true) { %>
          <li> Direct services for home or community care and/or palliative and end-of-life care (provided by another organization) </li>
        <% } if (use[2] === true) { %>
          <li> Training and education </li>
        <% } if (use[3] === true) { %>
          <li> Operational, oversight, or administrative expenses </li>
        <% } if (use[4] === true) { %>
          <li> Recruitment </li>
        <% } if (use[5] === true) { %>
          <li> Supplies/equipment for clients/patients </li>
        <% } if (use[6] === true) { %>
          <li> Office supplies/equipment/IT solutions for administering the home and community care program </li>
        <% } if (use[7] === true) { %>
          <li> Travel </li>
        <% } if (use[8] === true) { %>
          <li> Other home and community care or palliative and end-of-life care priorities: <br>
            <% if (other === "") { %>
              <p> NONE </p>
            <% } %>
          <%= other.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> </li>
        <% } %>
      </ul> <br>

      <strong> Comments: </strong> <%= rep.Comments.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> <br>
      <strong> Approved: </strong> <% if (rep.Approved === 1) { %>
        <p> APPROVED! </p>
      <%  } %> <br>
      <strong> Submit Date: </strong> <%= rep.SubmitDate %> <br>

    </div>
  </div>

</div>

</div>
</body>
</html>
